<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rabbitmq.mapper.BrokerMessageLogMapper">
    <resultMap id="resultMapper" type="BrokerMessageLog"/>
    <update id="updateStatus" parameterType="BrokerMessageLog">
        update broker_message_log set status = #{status} where message_id = #{messageId}
    </update>

    <insert id="insertBrokerMessageLog" parameterType="BrokerMessageLog">
        insert into broker_message_log (message_id, message, status, next_retry, try_count)
        values (#{messageId}, #{message}, #{status}, #{nextRetry}, #{tryCount})
    </insert>

    <select id="query4StatusAndTimeout" resultMap="resultMapper">
      <![CDATA[
        select message_id, message, try_count, status, next_retry from broker_message_log
        where status = '0' and next_retry < sysdate()
      ]]>
    </select>

    <update id="updateTryCount" parameterType="BrokerMessageLog">
        update broker_message_log set try_count = #{tryCount} where message_id = #{messageId}
    </update>
</mapper>